
.shapes2 {
  border-style: solid;
  border-width: 0px 0px 11px;
  -moz-border-image: url("../img/bordere2.png") 34 34 17 round repeat;
  -webkit-border-image: url("../img/bordere2.png") 34 34 17 round repeat;
  -o-border-image: url("../img/bordere2.png") 34 34 17 round repeat;
  border-image: url("../img/bordere2.png") 34 34 17 fill round repeat;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}