body {
  background-image: url('../img/dev/errorbg.jpg');
  background-size:   cover;
  background-repeat: no-repeat;
  font-family: MileyTwerk;


}

h1 {
  margin-top: 300px;
  font-size: 4em;
}

h2 {
  margin-left: 50px;
  font-size: 1em;
}

