<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <object th:include="fragments/head :: head" th:remove="tag"/>
    <script src="/js/angular/admin.js"></script>
    <link rel="stylesheet" th:href="@{/css/jstag.css}" href="/css/jstag.css" />
    <title>Swagernia # admin panel</title>
</head>
<body ng-app="admin" ng-controller="adminCtrl">
<h1>add new post <span sec:authentication="name"></span> </h1>
<table>
    <tr>
        <td>TITLE:</td>
        <td><input type="text" ng-model="title"/></td>
    </tr>
    <tr>
        <td>SUBTITLE:</td>
        <td><input type="text" ng-model="subtitle"/></td>
    </tr>
    <tr>
        <td>CONTENT:</td>
        <td><textarea rows="5" cols="50" ng-model="content"/></td>
    </tr>
  <!--  <tr>
        <td>TAGS:</td>
        <td><select ng-model="selectedTags" ng-options="tag as tag.name for tag in tags"></select></td>

    </tr>-->
    <tr><td>TAGS[2]:</td>
        <div>
            <div auto-complete url="/search" model="data.tags"></div>
        </div>

    </tr>
    <tr><td></td><td><button ng-click="newPost()">add</button></td></tr>
</table>
<h1>add new tag</h1>
<table>
    <tr>
        <td>TAG:</td>
        <td><input type="text" ng-model="tagname"/></td>
    </tr>
    <tr><td></td><td><button ng-click="newTag()">add</button></td></tr>
</table>
</body>
</html>