<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"/>
    <title>Swagernia # post</title>
    <script src="/js/angular/post.js"></script>
    <link rel="stylesheet" href="/css/post.css" />

</head>
<body>
<div th:replace="fragments/header :: header">

</div>
<div th:replace="fragments/nav :: nav"  th:remove="tag">

</div>

<div class="container">
    <h1 class="title" th:text="${post.lilname}"></h1>


    <div class="fullpost">
        <div class="createdby">
        by Tomek at xxxxxxxx  tags:  <span class="tag">#rekt</span><span class="tag">#rekt</span> <span class="tag">#rekt</span><span class="tag">#rekt</span> <span class="tag">#rekt</span><span class="tag">#rekt</span>
        </div>
        <div class="shapes2"></div>
        <h2 class="teaser" th:text="${post.fullname}"> </h2>

        <span class="content">
            <p class="paragraph"  th:text="${post.content}"> </p>
        </span>
    </div>


    <div  ng-app="comment" ng-controller="commentCtrl" class="comments">
        <input type="hidden" name="postid" id="postid" value="420" th:value="${post.postid}"/>
        <div class="addcommentauth" sec:authorize="isAnonymous()">
            <h2>Please sign in to post and vote comments</h2>
        </div>
        <div class="addcomment" sec:authorize="isAuthenticated()">
            <h2>Add your opinion</h2>
                <form name="commentform">
                <div class="addcommentpanel">
                    <table>
                        <tr>
                            <td>header:</td>
                            <td><input type="text" ng-model="ctitle"/></td>

                        </tr>
                        <tr>
                            <td>content:</td>
                            <td><textarea ng-model="ccontent"/></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <span ng-show="currentparent != -1">replying to #{{currentparent}} <span class="glyphicon glyphicon-remove" ng-click="cancelparent()" style="cursor: pointer;"></span></span> <button style="float: right;" ng-click="add()">post</button>
                            </td>
                        </tr>



                    </table>
                </div>
                </form>
        </div>

        <div class="comment" ng-style="{'margin-left': '' + comment.depth * 25 + 'px'}" ng-repeat="comment in comments track by $index">

            <div class="commentAuthor">

                <div class="uparrow" >
                    <div class="arrowcontainer" sec:authorize="isAuthenticated()" ng-show="comment.vote >= 0">
                        <div class="borderarrowup" ng-click="vote(comment.id,1)"></div>
                        <div class="insidearrowup" ng-click="vote(comment.id,1)" ng-show="comment.vote == 0"></div>
                    </div>
                </div>

                <div class="commentAvatar">{{comment.score}}</div>
                <div class="botarrow">
                    <div class="arrowcontainer" sec:authorize="isAuthenticated()" ng-show="comment.vote <= 0">
                        <div class="borderarrowdown" ng-click="vote(comment.id,1)"></div>
                        <div class="insidearrowdown" ng-click="vote(comment.id,-1)" ng-show="comment.vote == 0"></div>
                    </div>
                </div>

            </div>
            <div class="commentContent">
                <div class="commentPanelTop">
                    <div class="commentPanelHeader">#{{comment.id}} by {{comment.author}} at {{comment.created | date:'yyyy-MM-dd HH:mm:ss '}} <span ng-show="comment.parentid != -1">in reply to {{comment.parentid}}</span></div>
                    <div class="commentPanelReplyTo" ng-click="selectParent(comment.id)">reply <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div>
                </div>
                <span class="commentHeader">{{comment.lilname}}</span>
                <p class="commentText">{{comment.content}}</p>
            </div>
        </div>


    </div>

</div>

<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>

