<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <object th:include="fragments/head :: head" th:remove="tag"/>
    <title>Swagernia # post</title>
    <script src="/js/angular/post.js"></script>

</head>
<body>
<div th:replace="fragments/header :: header">

</div>
<div th:replace="fragments/nav :: nav"  th:remove="tag">

</div>

<div class="container">
    <h1 class="mblog-post-header" th:text="'#' + ${post.postid} + '   ' + ${post.lilname}"></h1>
    <h2 class="mblog-post-header2" th:text="${post.fullname}">hhh</h2>

    <div class="blog-post">
    <p class="mblog-post-content" th:text="${post.content}"></p>
        </div>

    <div sec:authorize="isAuthenticated()">


    </div>


    <div  ng-app="comment" ng-controller="commentCtrl"  >
        <input type="hidden" name="postid" id="postid" value="420" th:value="${post.postid}"/>
        <h2>Add a comment</h2>
        <form name="commentform" sec:authorize="isAuthenticated()">

            <label>CTITLE: </label>
            <input type="text" ng-model="ctitle"/>
            <label>CCONTENT: </label>
            <input type="text" ng-model="ccontent"/>
            <button ng-click="add()">ADD</button>
            {{currentparent}}
        </form>
        <h3 sec:authorize="isAnonymous()">You have to be logged in to comment.</h3>
        <br/>


        <div class="row" style="width: 300px; background:gray; margin-top: 20px;" ng-style="{'margin-left': '' + comment.depth * 25 + 'px'}" ng-repeat="comment in comments track by $index" ng-click="selectParent(comment.id)">

            <div class="col-md-3">
                <div sec:authorize="isAuthenticated()" ng-show="comment.vote == 0" style="width:100%; height: 60px; background: green; cursor: pointer;" ng-click="vote(comment.id,1)"> ++

                </div>
                <div sec:authorize="isAuthenticated()" ng-show="comment.vote > 0" style="width:100%; height: 60px; background: #006130; cursor: pointer;" ng-click="vote(comment.id,1)">

                </div>
                <div sec:authorize="isAnonymous()" style="height: 60px"></div>
                <div style="width:100%"><h1>{{comment.score}}</h1> </div>
                <div sec:authorize="isAuthenticated()" ng-show="comment.vote == 0" style="width:100%; height: 60px; background: red; cursor: pointer;" ng-click="vote(comment.id,-1)">--

                </div>
                <div sec:authorize="isAuthenticated()" ng-show="comment.vote < 0" style="width:100%; height: 60px; background: #710013; cursor: pointer;" ng-click="vote(comment.id,-1)">--

                </div>
                <div sec:authorize="isAnonymous()" style="height: 60px"></div>
            </div>
            <div class="col-md-9" style="background: gray">
                #{{comment.id}}
                <h1>{{comment.lilname}}</h1>

                <p ng-show="comment.parentid != -1">in response to {{comment.parentid}}</p>
                <p> created by {{comment.author}} on {{comment.created | date:'yyyy-MM-dd HH:mm:ss '}}</p>
                {{comment.content}}

            </div>

        </div>

    </div>

</div>
<footer class="blog-footer" th:replace="fragments/footer :: footer">

</footer>

</body>
</html>