@font-face {
  font-family: 'Chunkfive';
  src: url('../fonts/Chunkfive.otf');
}

@font-face {
  font-family: 'Delicious';
  src: url('../fonts/Delicious.otf');
}



@font-face {
  font-family: 'MileyTwerk';
  src: url('../fonts/MileyTwerk.ttf');
}

@font-face {
  font-family: 'AmericanCaptain';
  src: url('../fonts/AmericanCaptain.ttf');
}
